body{
    font-family: 'Roboto', sans-serif;
} 

section{
    padding-bottom:200px ;
    margin: 0;
    height: 600px;
    width: 100%;
    
}
.orange-tag{
    color: rgb(245, 115, 100);
}
.top-lines{
    font-size: 60px;
    font-weight: 700;
    height: 0px;
    line-height:0ex;
    position: relative;left: 25px;
    font-style: normal;
   
}
.half-area{
    width: 40%;
    float: left;
    margin: 4%;
}
.writting-part{
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    font-family: calibri;
    position: relative;left: 20px;
    color: gray;
    text-align: justify;
}
.half-area img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(245, 115, 100);
    padding: 20px 30px;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    position: relative;left: 25px;
}
h2{
    font-weight: bold;
    font-size: 50px;
    text-align:center;
}
.second-part{
    margin: auto;
    display: inline-block;
}
h3{
    font-weight: 700;
    font-size: 50px;
}

.box-container{
    width:100%;
}
.boxes{
    width: 25%;
    padding:5px;
    float: left;
    margin: 1%;
}
.works{
    box-shadow: 2px 2px 4px gray;
    border-radius: 10px;
    padding: 20px 20px;
    height: 90%;
    float:left;
}
.boxes img{
    width: 100%;
}
h5{
    font-weight: bold;
    font-size:25px;
    float:left;
}
.works p{
    font-size:25px ;
    font-weight: 500;
    float: left;
}
.work-inquiry{
    float: left;
}
#text{
    color: white;
    font-weight: 700;
    font-size: 40px;
}
#side-01{
    margin-left: 0;
    margin-top: 70px;
}
#side-02{
    margin-left: 30%;
    margin-top: 80px;
}
.last-part{
    background-image: url("images/Group_33094_1.png");
    background-repeat: no-repeat;
    background-size: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 0;
    padding-left: 5%;
    
}
#stayconnect{
    font-size: 30px;
    font-weight: 700;
    color: gray;
    top: 500px;
    position: relative;right:600px;    
}   
#mail{
    font-size: 50px;
    font-weight: bold;
    color: black;
    position: relative;right: 700px;
    top:550px ;
}
    





